# This file will set env vars for development purposes (e.g.: debugging of this Action).

# Mocked event-related environment variables.
# See : https://developer.github.com/v3/activity/events/types
GITHUB_REPOSITORY=
GITHUB_WORKFLOW=
GITHUB_ACTOR=
GITHUB_ACTION=
GITHUB_EVENT_NAME=
# Mocking the event payload
GITHUB_EVENT_PATH=./event-example.json

# Mocked Discord-related environment variables.
# See : https://github.com/Ilshidur/action-discord#environment-variables
DISCORD_WEBHOOK=
DISCORD_USERNAME=KrakenGIT
DISCORD_AVATAR=
DISCORD_MULTILINE=0

NODE_ENV=development
